<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.metacoders.communityapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.points.Points_withdraw_options"
            android:exported="false" />
        <activity
            android:name=".activities.payments.WithdrawPayment"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activities.CategoryList"
            android:exported="false" />
        <activity
            android:name=".activities.countryWiseList.CountryList"
            android:exported="true" />
        <activity
            android:name=".activities.contactPage.ContactPage"
            android:exported="true" />
        <activity
            android:name=".activities.auther.AuthorPageActivity"
            android:exported="true" />
        <activity android:name=".activities.comments.CommentsActivity" />
        <activity android:name=".activities.ShopPage" />
        <activity android:name=".activities.EditProfile" />
        <activity android:name=".activities.details.NewsDetailsActivity" />
        <activity android:name=".singleList" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.SerachActivity" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PostUploadActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity
            android:name=".activities.details.PostDetailsPage"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity android:name=".activities.HomePage" />
        <activity
            android:name=".activities.Voice_Recoder_Activity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.Video_Record_Activity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>